* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: auto 1fr;
    font-family: "Roboto";
}

.header-section {
    grid-column: 2;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 55px 10px 55px;
    height: 155px;
}

.sidebar-section {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 80px 1fr;
    justify-items: center;
    background-color: #1992d4;
    color: white;
    font-weight: 500;
    height: 100%;
    width: 280px;
}

.main-section {
    grid-column: 2;
    grid-row: 2;
    background-color: rgba(226,232,240,255);
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px;
    padding: 0 0 40px 20px;
}

.nav > ul {
    display: grid;
    grid-template-columns: auto 1fr;
    list-style-type: none;
    row-gap: 15px;
}

.dashboard {
    font-size: 1.3rem;
    align-self: center;
    margin: 10px 5px 25px 0;
}

ul > div:first-child {
    border: 2px solid black;
}

.nav-item {
    margin-bottom: 40px;
}

.nav img:nth-child(n) {
    justify-self: center;
}

form > input {
    width: 500px;
    height: 24px;
    grid-column: 2 / 3;
    grid-row: 1;
    border-radius: 10px;
    background-color: rgba(226,232,240,255);
    border: none;
    padding-left: 15px;
}

form {
    display: grid;
    grid-template-columns: 30px 500px;
    place-content: center;
}

.welcome {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 20px 1fr;
    column-gap: 12px;
}

.welcome > p:last-of-type {
    grid-column: 2;
    font-size: 1.2rem;
    font-weight: bold;
}

.welcome > p:first-of-type {
    font-size: 0.8rem;
    font-weight: 500;
}

.welcome > div {
    grid-row: 1 / 3;
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.profile {
    display: grid;
    grid-template-columns: 30px auto 120px;
    column-gap: 25px;
    justify-content: center;
    align-content: center;
}

.profile > div:nth-child(2) {
    height: 40px;
    width: 40px;
    border-radius: 100%;
}

.profile > p, .profile > div:first-child {
    align-self: center;
    font-weight: bold;
}

.buttons {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-items: center;
    align-items: center;
    justify-content: center;
    column-gap: 25px;
}

button {
    width: 80px;
    height: 35px;
    border-radius: 15px;
    color: white;
    background-color:#1992d4;
    border: none;
    font-weight: 500;
}

.user-projects {
    display: grid;
    grid-template-rows: 20px;
    margin-top: 30px;
    gap: 8px;
}

.main-projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card > div {
    display: flex;
    position: absolute;
    right: 20px;
    bottom: 20px;
    gap: 30px;
}

.card, .container-box, .trending-container {
    background-color: white;
}

.card {
    position: relative;
    width: 330px;
    border-radius: 8px;
    padding: 25px 30px 0 25px
}

.sidecards {
    margin-top: 30px;
}

.sidecards-main {
    display: grid;
    row-gap: 15px;
}

.container-box {
    display: grid;
    width: 265px;
    justify-content: center;
    border-radius: 8px;
    padding: 25px 0 25px 0;
}

.box:first-child, .box:nth-child(2) {
    border-bottom: 1px solid rgb(217, 217, 217);
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.second-container {
    width: 200px;
    height: min-content;
}

.trending {
    display: grid;
    row-gap: 5px;
}

.trending-container {
    display: grid;
    grid-template-columns: 40px 145px;
    column-gap: 10px;
    row-gap: 12px;
    width: 265px;
    justify-content: center;
    border-radius: 8px;
    height: 250px;
    padding: 15px 0 15px 0;
}

.users-pic {
    border-radius: 100%;
    width: 40px;
    height: 40px;
}

ul > img, .card > div > img {
    width: 20px;
    height: 20px;
    /* Changes colour of svg. Don't understand it but it's the only fix I found */
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(3deg) brightness(100%) contrast(104%);
}

ul > img:first-child {
    width: 40px;
    height: 40px;
}

form > img, .profile > img {
    width: 20px;
    height: 20px;
}

.user-pic {
    background-image: url("./assets/avatars/avatar.svg");
    background-repeat: no-repeat;
}

.profile > img {
    align-self: center;
}

.section-title {
    font-weight: 500;
    font-size: 1.1rem;
    padding-bottom: 7px;
}

.box > p:nth-child(2) {
    font-size: 10px;
    color: rgb(102, 102, 102);
}

.box > p:nth-child(1) {
    font-size: 13px;
    font-weight: bold;
}

.title {
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 2px;
}

.card > p:nth-child(2) {
    font-size: 13px;
    color: rgb(102, 102, 102);
}

.user-email {
    font-size: 10px;
    color: rgb(102, 102, 102);
    line-height: 14px;
    align-self: center;
}

.user-email::first-line {
    font-size: 12px;
    color: black;
}

.card > div > img {
    filter: invert(0%) sepia(0%) saturate(13%) hue-rotate(228deg) brightness(98%) contrast(104%);
}

.trending-container > div:nth-child(3) {
    background-image: url(./assets/avatars/avatar.svg);
    background-repeat: no-repeat;
}

.trending-container > div:nth-child(5) {
    background-image: url(./assets/avatars/avatar2.svg);
    background-repeat: no-repeat;
}

.trending-container > div:first-child {
    background-image: url(./assets/avatars/avatar3.svg);
    background-repeat: no-repeat;
}

.trending-container > div:nth-child(7) {
    background-image: url(./assets/avatars/avatar4.svg);
    background-repeat: no-repeat;
}

.box-shadow {
    width: 10px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: inset 10px 0 gold;
}